{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">


            <div id="status">
                <p>
                    VOACI LE FRONT:
                </p>
            </div>



        </div>
    </div>
{% endblock %}
